/* nav { */
/*   position: sticky; */
/*   top: 0; */
/* } */
/**/
/* nav ul { */
/*   display: flex; */
/*   list-style-type: none; */
/*   justify-content: center; */
/*   flex-wrap: nowrap; */
/*   flex-direction: row; */
/*   color: white; */
/* } */
/**/
nav {
  position: absolute;
  top: 0;
  z-index: 1000;
  color: white;
  box-shadow: 0px 0px 10px white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 2em;
}

nav ul li:hover {
  box-shadow: 0px 10px 10px 0px white;
  text-shadow: 0px 10px 10px 0px white;
  transition: box-shadow 0.2s ease-in-out, text-shadow 1s ease-in-out;
}
