:root {
  --main-bg-color: rgb(76, 76, 76);
  --cyan-shadow-1: rgb(101, 255, 255);
  --cyan-background-1: rgb(109, 255, 255);
  --cyan-background-2: rgb(168, 255, 255);
  --cyan-background-3: rgb(203, 255, 255);
  --cyan-background-4: rgb(203, 255, 255);
  --green-shadow-1: rgb(145, 253, 22);
  --green-background-1: rgb(145, 253, 22);
  --green-background-2: rgb(177, 252, 123);
  --green-background-3: rgb(198, 251, 164);
  --green-background-4: rgb(223, 251, 207);
  --red-shadow-1: rgb(251, 112, 108);
  --red-background-1: rgb(253, 16, 52);
  --red-background-2: rgb(252, 93, 92);
  --red-background-3: rgb(253, 167, 161);
  --red-background-4: rgb(253, 186, 180);
  --box-three-shadow: 0px 0px 30px rgb(145, 253, 22);
  --animation: greenGlow 3s linear 0s infinite, rotateBackwards 2s linear 0s infinite;
  --box-animation: blueGlow 3s linear 0s infinite, rotateForwards 2s linear 0s infinite;

}

* {
  width: 100%;
  font-family: 'Courier New', Courier, monospace ;
  font-weight: bold;
}


body {
  background-color: var(--main-bg-color);
  margin: 0 0 0 0;
}

.flexbox {
  gap: 5rem;
}

.boxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40vh;
  gap: 5rem;
  flex-wrap: wrap;
}

.box {
  background-color: white;
  width: 20vh;
  height: 20vh;
  animation: var(--box-animation);
  box-shadow: 0px 0px 30px rgb(101, 255, 255);
}

.box:hover {
  animation: greenGlow 3s linear 0s infinite, rotateBackwards 2s linear 0s infinite;
  box-shadow: 0px 0px 30px rgb(145, 253, 22);
}

.box:active {
  animation: redGlow 3s linear 0s infinite, rotateForwards 2s linear 0s infinite, circle 2s linear 0s infinite;
  box-shadow: 0px 0px 30px rgb(251, 112, 108);
}


.boxTwo {
  background-color: white;
  width: 20vh;
  height: 20vh;
  animation: greenGlow 3s linear 0s infinite, rotateBackwards 2s linear 0s infinite;
  box-shadow: 0px 0px 30px rgb(145, 253, 22);
}

.boxTwo:hover {
  animation: blueGlow 3s linear 0s infinite, rotateForwards 2s linear 0s infinite;
  box-shadow: 0px 0px 30px rgb(101, 255, 255);
}


.boxTwo:active {
  animation: redGlow 3s linear 0s infinite, rotateBackwards 2s linear 0s infinite, circle 2s linear 0s infinite;
  box-shadow: 0px 0px 30px rgb(251, 112, 108);
}


.boxThree {
  background-color: white;
  width: 20vh;
  height: 20vh;
  animation: var(--animation);
  box-shadow: var(--box-three-shadow);
}

@keyframes blueGlow {
  0% {
    background-color: rgb(109, 255, 255);
  }

  10% {
    background-color: rgb(168, 255, 255);
  }

  20% {
    background-color: rgb(203, 255, 255);
  }

  30% {
    background-color: rgb(170, 255, 255);
  }

  40% {
    background-color: rgb(149, 255, 255);
  }

  100% {
    background-color: rgb(101, 255, 255);
  }
}

@keyframes greenGlow {
  0% {
    background-color: rgb(145, 253, 22);
  }

  10% {
    background-color: rgb(177, 252, 123);
  }

  20% {
    background-color: rgb(198, 251, 164);
  }

  30% {
    background-color: rgb(223, 251, 207);
  }

  40% {
    background-color: rgb(198, 251, 164);
  }

  100% {
    background-color: rgb(145, 253, 22);
  }
}

@keyframes redGlow {
  0% {
    background-color: rgb(253, 16, 52);
  }

  10% {
    background-color: rgb(252, 93, 92);
  }

  20% {
    background-color: rgb(253, 167, 161);
  }

  30% {
    background-color: rgb(253, 186, 180);
  }

  40% {
    background-color: rgb(252, 93, 92);
  }

  100% {
    background-color: rgb(253, 16, 52);
  }
}

@keyframes rotateForwards {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateBackwards {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes circle {
  0% {
    border-radius: 0%;
  }

  50% {
    border-radius: 50%;
  }

  50% {
    border-radius: 100%;
  }

  50% {
    border-radius: 50%;
  }

  100% {
    border-radius: 0%;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 16vh;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

span.counter {
  position: absolute;
  top: 10vh;
  color: white;
  font-size: 200%;
  text-shadow: 0px 0px 30px white;
}

span.counterText {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2em;
  text-shadow: 0px 0px 30px white;
  animation: textPulse 1s linear 0s infinite;
}

@keyframes pulse {
  0% {
    width: 25vw;
    height: 25vh;
  }

  25% {
    width: 20vw;
    height: 20vh;
  }

  50% {
    width: 25vw;
    height: 25vh;
  }

  100% {
    width: 20vw;
    height: 20vh;
  }
}

@keyframes textPulse {
  0% {
    font-size: 1.5em;
  }

  25% {
    font-size: 2em;
  }

  50% {
    font-size: 1.5em;
  }

  75% {
    font-size: 2em;
  }

  100% {
    font-size: 1.5em;
  }
}
