---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
  <div class="slot">
    <p>upgrade visualization</p>
  </div>

  <div class="slot">
    <div id="textBox" class="textBox">
      <span class="counterText">Click !!!</span>
      <span class="boredomCounter">Boredom counter: </span>
      <span id="counterNumber" class="counter">0</span>
    </div>
    <div class="boxWrapper">
      <div id="box" class="box">
        <p></p>
      </div>
      <!-- <div id="boxTwo"class="boxTwo"> -->
      <!--   <p></p> -->
      <!-- </div> -->
      <!-- <div id="boxThree"class="boxThree"> -->
      <!--   <p></p> -->
      <!-- </div> -->
    </div>
  </div>

  <div class="slot">
    <p>shop</p>
  </div>

</BaseLayout>
