---
import BaseLayout from "../layouts/BaseLayout.astro"
import { Image } from 'astro:assets';
import myImage from '../assets/cat.png';
---

<BaseLayout>
  <div class="slot">
    <p>upgrade visualization</p>
  </div>

  <div class="slot clicker">
    <div id="textBox" class="textBox">
      <span class="counterText">Click !!!</span>
      <span class="boredomCounter">Boredom counter: </span>
      <span id="counterNumber" class="counter">0</span>
    </div>
    <div class="boxWrapper">
      <div id="box" class="box">
        <p></p>
      </div>
      <!-- <div id="boxTwo"class="boxTwo"> -->
      <!--   <p></p> -->
      <!-- </div> -->
      <!-- <div id="boxThree"class="boxThree"> -->
      <!--   <p></p> -->
      <!-- </div> -->
    </div>
  </div>

  <div class="slot shop">
    <span class="shopText">Shop</span>
    <div class="upgradeWrapper">
      <Image src={myImage} alt="" class="shopUpgradeImage" />
      <span class="upgradeName">powerBoredom</span>
      <div class="costWrapper">
        <div>
          <span class="cost">cost:</span>
          <span>1</span>
        </div>
        <div>
          <span>owned:</span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="upgradeWrapper">
      <Image src={myImage} alt="" class="shopUpgradeImage" />
      <span class="upgradeName">autoBoredom</span>
      <div class="costWrapper">
        <div>
          <span class="cost">cost:</span>
          <span>10</span>
        </div>
        <div>
          <span>owned</span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="upgradeWrapper">
      <Image src={myImage} alt="" class="shopUpgradeImage" />
      <span class="upgradeName">boredomFarm</span>
      <div class="costWrapper">
        <div>
          <span class="cost">cost:</span>
          <span>50</span>
        </div>
        <div>
          <span>owned</span>
          <span>0</span>
        </div>
      </div>
    </div>
    <div class="upgradeWrapper">
      <Image src={myImage} alt="" class="shopUpgradeImage" />
      <span class="upgradeName">boredomFactory</span>
      <div class="costWrapper">
        <div>
          <span class="cost">cost:</span>
          <span>100</span>
        </div>
        <div>
          <span>owned</span>
          <span>0</span>
        </div>
      </div>
    </div>
  </div>

</BaseLayout>
