---
import '../styles/style.css';
import '../styles/navbar.css';
import '../styles/shop.css';
import '../styles/scrollbar.css';
import '../script/script.ts';
---

<script>
const btn = document.getElementById("box") as HTMLDivElement;
const counterText = document.getElementById("counterNumber");

btn?.addEventListener("click", (event: MouseEvent) => {
  console.log("Clicked via event listener");
});

</script>
<header>
  <nav>
    <ul>
      <li class="gameTitle"><br>Boredom Simulator</li>
      <li><br>About</li>
      <li>
        <button class="dropBtn">Upgrades</button>
      </li>
    </ul>
  </nav>
</header>
<div class="game">
  <slot />
</div> <!-- end of .game -->
<footer>
  <!-- <ul> -->
  <!--   <li></li> -->
  <!--   <li></li> -->
  <!--   <li></li> -->
  <!-- </ul> -->
</footer>
